<div class="w-100 d-block text-light p-4 bg-green">
  <div class="row mb-xlg">
    <div class="col-md-2">
      <figure class="clearfix">
        <img src="../assets/stefanini.PNG" alt="Stefanini">
      </figure>
    </div>
    <div class="col-md-9 col py-md-3 title-size">
      Front-End Prova Técnica
    </div>
  </div>
</div>

<div class="p-4 bg-color">

  <app-title>
    Dados Pessoa
  </app-title>

  <div class="row mt-4 mb-5">
    <div class="col-6">
      <app-input [label]="'Nome'" [formCtrl]="nameCtrl"></app-input>
    </div>
  </div>

  <app-title class="mt-5">
    Telefones
  </app-title>

  <div class="row mt-4">
    <app-input class="col-6" [label]="'Número'" [mask]="'00000-0000'" [formCtrl]="celularCtrl"></app-input>
    <app-input class="col-4" [label]="'Tipo'" [formCtrl]="tipoCelular"></app-input>
    <app-button class="col-2" (click)="AdicionarPhone()"> Adicionar </app-button>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th> Número </th>
            <th> Tipo </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let phone of personEdit.phones">
            <td>{{ phone.phoneNumber }}</td>
            <td>{{ phone.phoneNumberType.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col flex-end">
      <app-button (click)="AdicionarPessoa()"> Salvar </app-button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th> Id </th>
        <th> Nome </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of values">
        <td> {{ item.businessEntityID }} </td>
        <td> {{ item.name }} </td>
        <td>
        </td>
        <td>
          <app-button (click)="RemoverPessoa(item.businessEntityID)"> Remover </app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>